@charset "UTF-8";
/* line 6, ../src/partials/_reset.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 15, ../src/partials/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 18, ../src/partials/_reset.scss */
nav ul {
  list-style: none;
}

/* line 19, ../src/partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 21, ../src/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 22, ../src/partials/_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 23, ../src/partials/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 24, ../src/partials/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 25, ../src/partials/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 26, ../src/partials/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 27, ../src/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../src/partials/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 29, ../src/partials/_reset.scss */
input, select {
  vertical-align: middle;
}

@font-face {
  font-family: 'Coolvetica';
  src: url("../fonts/coolvetica_rg-webfont.eot");
  src: local("☺"), url("../fonts/coolvetica_rg-webfont.woff") format("woff"), url("../fonts/coolvetica_rg-webfont.ttf") format("truetype"), url("../fonts/coolvetica_rg-webfont.svg#webfontX4pGz9fc") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Droid Serif';
  src: url("../fonts/droidserif-bold-webfont.eot");
  src: local("☺"), url("../fonts/droidserif-bold-webfont.woff") format("woff"), url("../fonts/droidserif-bold-webfont.ttf") format("truetype"), url("../fonts/droidserif-bold-webfont.svg#webfontX4pGz9fc") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Droid Serif';
  src: url("../fonts/droidserif-bolditalic-webfont.eot");
  src: local("☺"), url("../fonts/droidserif-bolditalic-webfont.woff") format("woff"), url("../fonts/droidserif-bolditalic-webfont.ttf") format("truetype"), url("../fonts/droidserif-bolditalic-webfont.svg#webfontX4pGz9fc") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Droid Serif';
  src: url("../fonts/droidserif-italic-webfont.eot");
  src: local("☺"), url("../fonts/droidserif-italic-webfont.woff") format("woff"), url("../fonts/droidserif-italic-webfont.ttf") format("truetype"), url("../fonts/droidserif-italic-webfont.svg#webfontX4pGz9fc") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Droid Serif';
  src: url("../fonts/droidserif-regular-webfont.eot");
  src: local("☺"), url("../fonts/droidserif-regular-webfont.woff") format("woff"), url("../fonts/droidserif-regular-webfont.ttf") format("truetype"), url("../fonts/droidserif-regular-webfont.svg#webfontX4pGz9fc") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lobster 13";
  src: url("../fonts/lobster_1.3-webfont.eot");
  src: local("☺"), url("../fonts/lobster_1.3-webfont.woff") format("woff"), url("../fonts/lobster_1.3-webfont.ttf") format("truetype"), url("../fonts/lobster_1.3-webfont.svg#webfontX4pGz9fc") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lekton';
  src: url("../fonts/lekton-bold-webfont.eot");
  src: local("☺"), url("../fonts/lekton-bold-webfont.woff") format("woff"), url("../fonts/lekton-bold-webfont.ttf") format("truetype"), url("../fonts/lekton-bold-webfont.svg#webfontX4pGz9fc") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lekton';
  src: url("../fonts/lekton-italic-webfont.eot");
  src: local("☺"), url("../fonts/lekton-italic-webfont.woff") format("woff"), url("../fonts/lekton-italic-webfont.ttf") format("truetype"), url("../fonts/lekton-italic-webfont.svg#webfontX4pGz9fc") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Lekton';
  src: url("../fonts/lekton-regular-webfont.eot");
  src: local("☺"), url("../fonts/lekton-regular-webfont.woff") format("woff"), url("../fonts/lekton-regular-webfont.ttf") format("truetype"), url("../fonts/lekton-regular-webfont.svg#webfontX4pGz9fc") format("svg");
  font-weight: 400;
  font-style: normal;
}

/* Put all your mixins here */
/* line 1, ../src/partials/_redefine.scss */
body {
  font-family: "Droid Serif", "Georgia", "Times New Roman", "Palatino", "Hoefler Text", "Baskerville", serif;
  font-size: 15px;
  *font-size: small;
  line-height: 1.3em;
}

/* line 7, ../src/partials/_redefine.scss */
select, input, textarea, button {
  font-family: "Droid Serif", "Georgia", "Times New Roman", "Palatino", "Hoefler Text", "Baskerville", serif;
  font-size: 99%;
}

/* line 10, ../src/partials/_redefine.scss */
pre, code, kbd, samp {
  font-family: "Lekton", Menlo, Courier New, Courier, Mono, monospace;
  color: #999;
  letter-spacing: -0.1em;
}

/* line 15, ../src/partials/_redefine.scss */
blockquote {
  font-family: "Lobster 13", cursive;
}

/* line 18, ../src/partials/_redefine.scss */
body, select, input, textarea {
  color: #444;
}

/* line 19, ../src/partials/_redefine.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Coolvetica", "Verdana", "Lucida Grande", "Arial", "Gill Sans", "Helvetica", sans-serif;
  font-weight: normal;
  color: #333333;
  text-shadow: white 1px 1px 0px;
}

/* line 25, ../src/partials/_redefine.scss */
html {
  overflow-y: scroll;
}

/* line 27, ../src/partials/_redefine.scss */
a, a:hover, a:active {
  outline: none;
}

/* line 28, ../src/partials/_redefine.scss */
a, a:active, a:visited {
  color: #FF6A51;
  text-decoration: none;
}

/* line 29, ../src/partials/_redefine.scss */
a:hover {
  color: #EA2F2D;
}

/* line 31, ../src/partials/_redefine.scss */
ul, ol {
  margin-left: 1.8em;
}

/* line 32, ../src/partials/_redefine.scss */
ol {
  list-style-type: decimal;
}

/* line 34, ../src/partials/_redefine.scss */
nav ul, nav li {
  margin: 0;
}

/* line 35, ../src/partials/_redefine.scss */
small {
  font-size: 85%;
}

/* line 36, ../src/partials/_redefine.scss */
strong, th {
  font-weight: bold;
}

/* line 37, ../src/partials/_redefine.scss */
td, td img {
  vertical-align: top;
}

/* line 38, ../src/partials/_redefine.scss */
sub {
  vertical-align: sub;
  font-size: smaller;
}

/* line 39, ../src/partials/_redefine.scss */
sup {
  vertical-align: super;
  font-size: smaller;
}

/* line 40, ../src/partials/_redefine.scss */
pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 41, ../src/partials/_redefine.scss */
textarea {
  overflow: auto;
}

/* line 42, ../src/partials/_redefine.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 43, ../src/partials/_redefine.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 44, ../src/partials/_redefine.scss */
input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 45, ../src/partials/_redefine.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 46, ../src/partials/_redefine.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 47, ../src/partials/_redefine.scss */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* line 48, ../src/partials/_redefine.scss */
button, input, select, textarea {
  margin: 0;
}

/* line 50, ../src/partials/_redefine.scss */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

/* line 52, ../src/partials/_redefine.scss */
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* line 54, ../src/partials/_redefine.scss */
::-moz-selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none;
}

/* line 55, ../src/partials/_redefine.scss */
::selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none;
}

/* line 56, ../src/partials/_redefine.scss */
a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

/* line 58, ../src/partials/_redefine.scss */
button {
  width: auto;
  overflow: visible;
}

/* line 59, ../src/partials/_redefine.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 1, ../src/partials/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
  letter-spacing: 0.02em;
}
/* line 4, ../src/partials/_typography.scss */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 8, ../src/partials/_typography.scss */
h1 {
  font-size: 60px;
  margin-bottom: 0.3em;
}

/* line 12, ../src/partials/_typography.scss */
h2 {
  font-size: 30px;
  margin-bottom: 0.3em;
}

/* line 17, ../src/partials/_typography.scss */
h3 {
  font-size: 24px;
  margin-bottom: 0.3em;
}

/* line 21, ../src/partials/_typography.scss */
h4 {
  font-size: 18px;
  margin-bottom: 0.3em;
}

/* line 25, ../src/partials/_typography.scss */
h5 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0.3em;
}

/* line 30, ../src/partials/_typography.scss */
h6 {
  font-size: 14px;
  font-weight: normal;
}

/* line 34, ../src/partials/_typography.scss */
p {
  margin: 0 0 1.3em;
}
/* line 36, ../src/partials/_typography.scss */
p img.left {
  display: inline;
  float: left;
  margin: 0 1.3em 1.3em 0;
  padding: 0;
}
/* line 41, ../src/partials/_typography.scss */
p img.right {
  display: inline;
  float: right;
  margin: 0 0 1.3em 1.3em;
  padding: 0;
}

/* line 51, ../src/partials/_typography.scss */
blockquote {
  margin: 1.3em;
  color: #666666;
  font-style: italic;
}

/* line 56, ../src/partials/_typography.scss */
strong {
  font-weight: bold;
}

/* line 59, ../src/partials/_typography.scss */
em {
  font-style: italic;
}

/* line 62, ../src/partials/_typography.scss */
dfn {
  font-style: italic;
  font-weight: bold;
}

/* line 66, ../src/partials/_typography.scss */
sup, sub {
  line-height: 0;
}

/* line 69, ../src/partials/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #666666;
}

/* line 72, ../src/partials/_typography.scss */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 76, ../src/partials/_typography.scss */
del {
  color: #666666;
}

/* line 79, ../src/partials/_typography.scss */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 83, ../src/partials/_typography.scss */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 86, ../src/partials/_typography.scss */
li ul, li ol {
  margin: 0;
}

/* line 89, ../src/partials/_typography.scss */
li {
  margin-bottom: 1.3em;
}

/* line 92, ../src/partials/_typography.scss */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}

/* line 96, ../src/partials/_typography.scss */
ul {
  list-style-type: disc;
}

/* line 99, ../src/partials/_typography.scss */
ol {
  list-style-type: decimal;
}

/* line 102, ../src/partials/_typography.scss */
dl {
  margin: 0 0 1.5em 0;
}
/* line 104, ../src/partials/_typography.scss */
dl dt {
  font-weight: bold;
}

/* line 108, ../src/partials/_typography.scss */
dd {
  margin-left: 1.5em;
}

/* line 111, ../src/partials/_typography.scss */
table {
  margin-bottom: 1.4em;
  width: 100%;
}

/* line 115, ../src/partials/_typography.scss */
th {
  font-weight: bold;
}

/* line 118, ../src/partials/_typography.scss */
thead th {
  background: #c3d9ff;
}

/* line 121, ../src/partials/_typography.scss */
th, td, caption {
  padding: 4px 10px 4px 5px;
}

/* line 124, ../src/partials/_typography.scss */
tr.even td {
  background: #e5ecf9;
}

/* line 127, ../src/partials/_typography.scss */
tfoot {
  font-style: italic;
}

/* line 130, ../src/partials/_typography.scss */
caption {
  background: #eeeeee;
}

/* line 133, ../src/partials/_typography.scss */
.quiet {
  color: #666666;
}

/* line 136, ../src/partials/_typography.scss */
.loud {
  color: #111111;
}

/* Put all your helpers classes here */
/* line 2, ../src/partials/_helpers.scss */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* line 3, ../src/partials/_helpers.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 4, ../src/partials/_helpers.scss */
.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 5, ../src/partials/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 7, ../src/partials/_helpers.scss */
.group:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

/* line 8, ../src/partials/_helpers.scss */
.group:after {
  clear: both;
}

/* line 9, ../src/partials/_helpers.scss */
.group {
  zoom: 1;
}

/* line 11, ../src/partials/_helpers.scss */
.clear {
  clear: both;
}

@font-face {
  font-family: 'IconicStroke';
  src: url("../fonts/iconic_stroke-webfont.eot?") format("eot"), url("../fonts/iconic_stroke-webfont.woff") format("woff"), url("../fonts/iconic_stroke-webfont.ttf") format("truetype"), url("../fonts/iconic_stroke-webfont.svg#webfontjI6p9o85") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 11, ../src/partials/_icons.scss */
.iconic {
  color: inherit;
  font-family: "IconicStroke";
  padding-left: 1px;
  line-height: inherit;
}

/* line 18, ../src/partials/_icons.scss */
a.iconic:hover {
  color: inherit;
}

/* line 22, ../src/partials/_icons.scss */
.iconic.home:before {
  content: '!';
}

/* line 23, ../src/partials/_icons.scss */
.iconic.at:before {
  content: "@";
}

/* line 24, ../src/partials/_icons.scss */
.iconic.quote:before {
  content: '"';
}

/* line 25, ../src/partials/_icons.scss */
.iconic.quote-alt:before {
  content: "'";
}

/* line 26, ../src/partials/_icons.scss */
.iconic.arrow-up:before {
  content: "3";
}

/* line 27, ../src/partials/_icons.scss */
.iconic.arrow-right:before {
  content: "4";
}

/* line 28, ../src/partials/_icons.scss */
.iconic.arrow-bottom:before {
  content: "5";
}

/* line 29, ../src/partials/_icons.scss */
.iconic.arrow-left:before {
  content: "6";
}

/* line 30, ../src/partials/_icons.scss */
.iconic.arrow-up-alt:before {
  content: "#";
}

/* line 31, ../src/partials/_icons.scss */
.iconic.arrow-right-alt:before {
  content: "$";
}

/* line 32, ../src/partials/_icons.scss */
.iconic.arrow-bottom-alt:before {
  content: "%";
}

/* line 33, ../src/partials/_icons.scss */
.iconic.arrow-left-alt:before {
  content: "^";
}

/* line 34, ../src/partials/_icons.scss */
.iconic.move:before {
  content: "9";
}

/* line 35, ../src/partials/_icons.scss */
.iconic.move-vertical:before {
  content: "8";
}

/* line 36, ../src/partials/_icons.scss */
.iconic.move-horizontal:before {
  content: "7";
}

/* line 37, ../src/partials/_icons.scss */
.iconic.move-alt:before {
  content: "(";
}

/* line 38, ../src/partials/_icons.scss */
.iconic.move-vertical-alt:before {
  content: "*";
}

/* line 39, ../src/partials/_icons.scss */
.iconic.move-horizontal-alt:before {
  content: "&";
}

/* line 40, ../src/partials/_icons.scss */
.iconic.cursor:before {
  content: ")";
}

/* line 41, ../src/partials/_icons.scss */
.iconic.plus:before {
  content: "+";
}

/* line 42, ../src/partials/_icons.scss */
.iconic.plus-alt:before {
  content: "=";
}

/* line 43, ../src/partials/_icons.scss */
.iconic.minus:before {
  content: "-";
}

/* line 44, ../src/partials/_icons.scss */
.iconic.minus-alt:before {
  content: "_";
}

/* line 45, ../src/partials/_icons.scss */
.iconic.new-window:before {
  content: "1";
}

/* line 46, ../src/partials/_icons.scss */
.iconic.dial:before {
  content: "2";
}

/* line 47, ../src/partials/_icons.scss */
.iconic.lightbulb:before {
  content: "0";
}

/* line 48, ../src/partials/_icons.scss */
.iconic.link:before {
  content: "/";
}

/* line 49, ../src/partials/_icons.scss */
.iconic.image:before {
  content: "?";
}

/* line 50, ../src/partials/_icons.scss */
.iconic.article:before {
  content: ">";
}

/* line 51, ../src/partials/_icons.scss */
.iconic.read-more:before {
  content: ".";
}

/* line 52, ../src/partials/_icons.scss */
.iconic.headphones:before {
  content: ",";
}

/* line 53, ../src/partials/_icons.scss */
.iconic.equalizer:before {
  content: "<";
}

/* line 54, ../src/partials/_icons.scss */
.iconic.fullscreen:before {
  content: ":";
}

/* line 55, ../src/partials/_icons.scss */
.iconic.exit-fullscreen:before {
  content: ";";
}

/* line 56, ../src/partials/_icons.scss */
.iconic.spin:before {
  content: "[";
}

/* line 57, ../src/partials/_icons.scss */
.iconic.spin-alt:before {
  content: "{";
}

/* line 58, ../src/partials/_icons.scss */
.iconic.moon:before {
  content: "]";
}

/* line 59, ../src/partials/_icons.scss */
.iconic.sun:before {
  content: "}";
}

/* line 60, ../src/partials/_icons.scss */
.iconic.map-pin:before {
  content: "\\";
}

/* line 61, ../src/partials/_icons.scss */
.iconic.pin:before {
  content: "|";
}

/* line 62, ../src/partials/_icons.scss */
.iconic.eyedropper:before {
  content: "~";
}

/* line 63, ../src/partials/_icons.scss */
.iconic.denied:before {
  content: "`";
}

/* line 64, ../src/partials/_icons.scss */
.iconic.calendar:before {
  content: "a";
}

/* line 65, ../src/partials/_icons.scss */
.iconic.calendar-alt:before {
  content: "A";
}

/* line 66, ../src/partials/_icons.scss */
.iconic.bolt:before {
  content: "b";
}

/* line 67, ../src/partials/_icons.scss */
.iconic.clock:before {
  content: "c";
}

/* line 68, ../src/partials/_icons.scss */
.iconic.document:before {
  content: "d";
}

/* line 69, ../src/partials/_icons.scss */
.iconic.book:before {
  content: "e";
}

/* line 70, ../src/partials/_icons.scss */
.iconic.book-alt:before {
  content: "E";
}

/* line 71, ../src/partials/_icons.scss */
.iconic.magnifying-glass:before {
  content: "f";
}

/* line 72, ../src/partials/_icons.scss */
.iconic.tag:before {
  content: "g";
}

/* line 73, ../src/partials/_icons.scss */
.iconic.heart:before {
  content: "h";
}

/* line 74, ../src/partials/_icons.scss */
.iconic.info:before {
  content: "i";
}

/* line 75, ../src/partials/_icons.scss */
.iconic.chat:before {
  content: "j";
}

/* line 76, ../src/partials/_icons.scss */
.iconic.chat-alt:before {
  content: "J";
}

/* line 77, ../src/partials/_icons.scss */
.iconic.key:before {
  content: "k";
}

/* line 78, ../src/partials/_icons.scss */
.iconic.unlocked:before {
  content: "l";
}

/* line 79, ../src/partials/_icons.scss */
.iconic.locked:before {
  content: "L";
}

/* line 80, ../src/partials/_icons.scss */
.iconic.mail:before {
  content: "m";
}

/* line 81, ../src/partials/_icons.scss */
.iconic.mail-alt:before {
  content: "M";
}

/* line 82, ../src/partials/_icons.scss */
.iconic.phone:before {
  content: "n";
}

/* line 83, ../src/partials/_icons.scss */
.iconic.box:before {
  content: "o";
}

/* line 84, ../src/partials/_icons.scss */
.iconic.pencil:before {
  content: "p";
}

/* line 85, ../src/partials/_icons.scss */
.iconic.pencil-alt:before {
  content: "P";
}

/* line 86, ../src/partials/_icons.scss */
.iconic.comment:before {
  content: "q";
}

/* line 87, ../src/partials/_icons.scss */
.iconic.comment-alt:before {
  content: "Q";
}

/* line 88, ../src/partials/_icons.scss */
.iconic.rss:before {
  content: "r";
}

/* line 89, ../src/partials/_icons.scss */
.iconic.star:before {
  content: "s";
}

/* line 90, ../src/partials/_icons.scss */
.iconic.trash:before {
  content: "t";
}

/* line 91, ../src/partials/_icons.scss */
.iconic.user:before {
  content: "u";
}

/* line 92, ../src/partials/_icons.scss */
.iconic.volume:before {
  content: "v";
}

/* line 93, ../src/partials/_icons.scss */
.iconic.mute:before {
  content: "V";
}

/* line 94, ../src/partials/_icons.scss */
.iconic.cog:before {
  content: "w";
}

/* line 95, ../src/partials/_icons.scss */
.iconic.cog-alt:before {
  content: "W";
}

/* line 96, ../src/partials/_icons.scss */
.iconic.x:before {
  content: "x";
}

/* line 97, ../src/partials/_icons.scss */
.iconic.x-alt:before {
  content: "X";
}

/* line 98, ../src/partials/_icons.scss */
.iconic.check:before {
  content: "y";
}

/* line 99, ../src/partials/_icons.scss */
.iconic.check-alt:before {
  content: "Y";
}

/* line 100, ../src/partials/_icons.scss */
.iconic.beaker:before {
  content: "z";
}

/* line 101, ../src/partials/_icons.scss */
.iconic.beaker-alt:before {
  content: "Z";
}

/* line 16, ../src/style.scss */
body {
  background: #f4f4f4;
}

/* line 19, ../src/style.scss */
#wrap {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 22, ../src/style.scss */
#header {
  margin-bottom: 30px;
  clear: both;
  position: relative;
  overflow: hidden;
  *zoom: 1;
  padding: 10px 0;
}

/* line 30, ../src/style.scss */
#beta-sign {
  font-family: Arial, sans-serif;
  font-size: 9px;
  text-transform: uppercase;
  color: #fff;
  background: #0000cc;
  position: absolute;
  top: 31px;
  left: 225px;
  padding: 0px 5px;
  line-height: 15px;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  text-shadow: #6666ff 1px 1px 1px;
}

/* line 45, ../src/style.scss */
#footer {
  clear: both;
  padding: 50px 0 0 0;
}
/* line 48, ../src/style.scss */
#footer h3 {
  font-size: small;
  font-family: "Droid Serif", "Georgia", "Times New Roman", "Palatino", "Hoefler Text", "Baskerville", serif;
  color: #ccc;
  text-align: right;
}

/* line 55, ../src/style.scss */
h6.special {
  font-size: 60px;
  margin-bottom: 30px;
  text-align: center;
  color: #CCC;
  text-shadow: #fff 1px 1px 0;
}

/* line 62, ../src/style.scss */
#main {
  clear: both;
}

/* line 65, ../src/style.scss */
#branding {
  display: inline;
  float: left;
  margin-right: 30px;
  width: 300px;
}
/* line 139, ../../../../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #branding {
  overflow-x: hidden;
}
/* line 67, ../src/style.scss */
#branding a {
  display: block;
  color: #000;
  width: 220px;
}
/* line 72, ../src/style.scss */
#branding .logo {
  font-family: "Lobster 13", cursive;
  font-size: 40px;
  display: block;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 5px;
  width: 220px;
  letter-spacing: 0;
  font-weight: normal;
  word-spacing: -9px;
}
/* line 84, ../src/style.scss */
#branding .kick {
  color: #FF6A51;
}
/* line 87, ../src/style.scss */
#branding .slogan {
  font-size: 16px;
  display: block;
  line-height: 1em;
  color: #999;
  width: 250px;
}

/* line 95, ../src/style.scss */
#start-invite ul.share {
  margin: 0;
  padding: 0;
}

/* line 99, ../src/style.scss */
ul.share {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 103, ../src/style.scss */
ul.share li {
  display: inline;
  padding-right: 10px;
}
/* line 106, ../src/style.scss */
ul.share li:last-child {
  padding-right: 0px;
}
/* line 110, ../src/style.scss */
ul.share .facebook {
  position: relative;
  top: 5px;
}

/* line 118, ../src/style.scss */
#packaging-process {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 50px;
}
/* line 123, ../src/style.scss */
#packaging-process li {
  display: inline-block;
  padding: 20px 17px;
  width: 250px;
  margin-bottom: 10px;
  margin-right: 5px;
  vertical-align: top;
  background: #C4DF9B;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: #445d1e 3px 3px 0 0;
  -webkit-box-shadow: #445d1e 3px 3px 0 0;
  -o-box-shadow: #445d1e 3px 3px 0 0;
  box-shadow: #445d1e 3px 3px 0 0;
  text-align: left;
}
/* line 134, ../src/style.scss */
#packaging-process li .iconic {
  visibility: hidden;
  font-size: 2em;
  color: #445D1E;
}
/* line 140, ../src/style.scss */
#packaging-process .done {
  background: #C4DF9B;
  color: #445D1E;
  -moz-box-shadow: none;
  position: relative;
  top: 3px;
  left: 3px;
}
/* line 147, ../src/style.scss */
#packaging-process .done .iconic {
  visibility: visible;
}

/* line 152, ../src/style.scss */
#main-nav {
  font-size: 14px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 630px;
  text-align: right;
  margin-top: 38px;
  border-bottom: #e7e7e7 solid 1px;
  padding-bottom: 5px;
  letter-spacing: -0.01em;
}
/* line 139, ../../../../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #main-nav {
  overflow-x: hidden;
}

/* line 161, ../src/style.scss */
a.start-btn {
  display: inline-block;
  padding: 10px 20px;
  font-family: "Lobster 13", cursive;
  background: #c4df9b;
  color: #445d1e;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  -moz-box-shadow: #999999 2px 2px 2px 0;
  -webkit-box-shadow: #999999 2px 2px 2px 0;
  -o-box-shadow: #999999 2px 2px 2px 0;
  box-shadow: #999999 2px 2px 2px 0;
}
/* line 21, ../src/partials/_mixins.scss */
a.start-btn:hover {
  background: #dbebc2;
  color: #60842a;
  position: relative;
  top: 1px;
  left: 1px;
  -moz-box-shadow: #999999 0px 0px 1px 0;
  -webkit-box-shadow: #999999 0px 0px 1px 0;
  -o-box-shadow: #999999 0px 0px 1px 0;
  box-shadow: #999999 0px 0px 1px 0;
}

/* line 164, ../src/style.scss */
#whats-new {
  clear: both;
  overflow: hidden;
  *zoom: 1;
}
/* line 167, ../src/style.scss */
#whats-new .post {
  display: inline;
  float: left;
  margin-right: 30px;
  width: 300px;
}
/* line 139, ../../../../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #whats-new .post {
  overflow-x: hidden;
}
/* line 170, ../src/style.scss */
#whats-new .last {
  display: inline;
  float: left;
  margin-right: 0;
  width: 300px;
}
/* line 139, ../../../../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #whats-new .last {
  overflow-x: hidden;
}

/* line 175, ../src/style.scss */
.post .title {
  font-weight: normal;
  letter-spacing: 0.02em;
  margin-bottom: 0;
  line-height: 1em;
}
/* line 181, ../src/style.scss */
.post .meta {
  margin-bottom: 1.3em;
  color: #999;
}

/* line 186, ../src/style.scss */
.explain {
  overflow: hidden;
  *zoom: 1;
  padding: 10px 0 10px 0;
  margin-bottom: 30px;
}
/* line 190, ../src/style.scss */
.explain article {
  display: inline;
  float: left;
  margin-right: 30px;
  width: 300px;
}
/* line 139, ../../../../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .explain article {
  overflow-x: hidden;
}
/* line 192, ../src/style.scss */
.explain article:last-child {
  display: inline;
  float: left;
  margin-right: 0;
  width: 300px;
}
/* line 139, ../../../../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .explain article:last-child {
  overflow-x: hidden;
}
/* line 199, ../src/style.scss */
.explain p {
  font-size: 18px;
  line-height: 1.3em;
}

/* line 204, ../src/style.scss */
#start-invite {
  margin-bottom: 60px;
  display: inline;
  float: left;
  margin-right: 30px;
  width: 300px;
}
/* line 139, ../../../../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #start-invite {
  overflow-x: hidden;
}
/* line 207, ../src/style.scss */
#start-invite .description {
  padding-right: 20px;
}
/* line 210, ../src/style.scss */
#start-invite ul {
  margin: 0;
  padding: 0;
  list-style: disc outside;
  padding-left: 20px;
}
/* line 216, ../src/style.scss */
#start-invite li {
  margin-bottom: 20px;
}

/* line 220, ../src/style.scss */
#beta {
  margin-bottom: 50px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 630px;
}
/* line 139, ../../../../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #beta {
  overflow-x: hidden;
}
/* line 225, ../src/style.scss */
#beta .wrap {
  border: #CCC solid 1px;
  padding: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
}

/* line 234, ../src/style.scss */
.tools {
  display: none;
  margin-bottom: 20px;
  overflow: hidden;
  *zoom: 1;
}
/* line 238, ../src/style.scss */
.tools .primary {
  display: inline;
  float: left;
  margin-right: 30px;
  width: 465px;
}
/* line 139, ../../../../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .tools .primary {
  overflow-x: hidden;
}
/* line 241, ../src/style.scss */
.tools .secondary {
  display: inline;
  float: left;
  margin-right: 0;
  width: 465px;
  text-align: right;
}
/* line 139, ../../../../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .tools .secondary {
  overflow-x: hidden;
}

/* line 246, ../src/style.scss */
#create-content-wrap {
  padding-top: 30px;
}

/* line 249, ../src/style.scss */
.resumen {
  clear: both;
  display: inline;
  float: left;
  margin-right: 0;
  width: 300px;
  width: 260px;
  background: #e7e7e7;
  -moz-border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  -o-border-radius: 10px 0 0 10px;
  -ms-border-radius: 10px 0 0 10px;
  -khtml-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
  border: #dbdbdb solid 1px;
  position: relative;
  z-index: 2;
}
/* line 139, ../../../../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .resumen {
  overflow-x: hidden;
}
/* line 258, ../src/style.scss */
.resumen ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 263, ../src/style.scss */
.resumen li.setting {
  margin-bottom: 0;
  padding: 20px;
  border-bottom: #CCC solid 1px;
  cursor: pointer;
}
/* line 269, ../src/style.scss */
.resumen li.setting:hover {
  background: #f4f4f4;
}
/* line 273, ../src/style.scss */
.resumen .current {
  background: #fff;
}
/* line 275, ../src/style.scss */
.resumen .current#general-tab {
  -moz-border-radius: 10px 0 0 0;
  -webkit-border-radius: 10px 0 0 0;
  -o-border-radius: 10px 0 0 0;
  -ms-border-radius: 10px 0 0 0;
  -khtml-border-radius: 10px 0 0 0;
  border-radius: 10px 0 0 0;
}
/* line 278, ../src/style.scss */
.resumen .current:hover {
  background: #f4f4f4;
}
/* line 281, ../src/style.scss */
.resumen .current .title {
  color: #333;
}
/* line 286, ../src/style.scss */
.resumen .active .title {
  color: #678539;
}
/* line 289, ../src/style.scss */
.resumen .active .saved {
  display: block;
}
/* line 293, ../src/style.scss */
.resumen .wrapper {
  padding: 0px;
}
/* line 296, ../src/style.scss */
.resumen .title {
  font-family: "Coolvetica", "Verdana", "Lucida Grande", "Arial", "Gill Sans", "Helvetica", sans-serif;
  font-size: 18px;
  text-decoration: none;
  clear: both;
  display: block;
  line-height: 1em;
  margin-bottom: 5px;
  letter-spacing: 0.02em;
  color: #999;
}
/* line 307, ../src/style.scss */
.resumen ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 312, ../src/style.scss */
.resumen .download {
  padding: 20px;
  text-align: center;
  background: #fbfbfb;
  -moz-border-radius: 0 0 0 10px;
  -webkit-border-radius: 0 0 0 10px;
  -o-border-radius: 0 0 0 10px;
  -ms-border-radius: 0 0 0 10px;
  -khtml-border-radius: 0 0 0 10px;
  border-radius: 0 0 0 10px;
}
/* line 318, ../src/style.scss */
.resumen .saved {
  display: none;
  font-size: 0.8em;
}
/* line 321, ../src/style.scss */
.resumen .saved li {
  margin-bottom: 0;
}

/* line 327, ../src/style.scss */
#general-tab .title {
  color: #678539;
}

/* line 331, ../src/style.scss */
a.download-btn {
  display: inline-block;
  padding: 10px 20px;
  font-family: "Lobster 13", cursive;
  background: #c4df9b;
  color: #445d1e;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  -moz-box-shadow: #999999 2px 2px 2px 0;
  -webkit-box-shadow: #999999 2px 2px 2px 0;
  -o-box-shadow: #999999 2px 2px 2px 0;
  box-shadow: #999999 2px 2px 2px 0;
}
/* line 21, ../src/partials/_mixins.scss */
a.download-btn:hover {
  background: #dbebc2;
  color: #60842a;
  position: relative;
  top: 1px;
  left: 1px;
  -moz-box-shadow: #999999 0px 0px 1px 0;
  -webkit-box-shadow: #999999 0px 0px 1px 0;
  -o-box-shadow: #999999 0px 0px 1px 0;
  box-shadow: #999999 0px 0px 1px 0;
}

/* line 334, ../src/style.scss */
.settings-panel {
  display: inline;
  float: left;
  margin-right: 0;
  width: 630px;
  width: 640px;
  padding: 0 28px;
  background: #fff;
  -moz-border-radius: 0px 10px 10px 10px;
  -webkit-border-radius: 0px 10px 10px 10px;
  -o-border-radius: 0px 10px 10px 10px;
  -ms-border-radius: 0px 10px 10px 10px;
  -khtml-border-radius: 0px 10px 10px 10px;
  border-radius: 0px 10px 10px 10px;
  border: #dbdbdb solid 1px;
  position: relative;
  left: -1px;
  z-index: 1;
  min-height: 424px;
  position: relative;
  padding-bottom: 100px;
}
/* line 139, ../../../../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .settings-panel {
  overflow-x: hidden;
}
/* line 347, ../src/style.scss */
.settings-panel .buttons {
  width: 556px;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 20px;
}
/* line 354, ../src/style.scss */
.settings-panel ol.top-level {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 359, ../src/style.scss */
.settings-panel .wrapper {
  padding: 20px;
}
/* line 362, ../src/style.scss */
.settings-panel .setting {
  display: none;
}
/* line 365, ../src/style.scss */
.settings-panel .current {
  display: block;
}
/* line 371, ../src/style.scss */
.settings-panel .details {
  display: none;
}
/* line 373, ../src/style.scss */
.settings-panel .details.activate {
  display: block;
}

/* line 378, ../src/style.scss */
a.next-btn {
  display: inline-block;
  padding: 10px 20px;
  font-family: "Lobster 13", cursive;
  background: #c4df9b;
  color: #445d1e;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  -moz-box-shadow: #999999 2px 2px 2px 0;
  -webkit-box-shadow: #999999 2px 2px 2px 0;
  -o-box-shadow: #999999 2px 2px 2px 0;
  box-shadow: #999999 2px 2px 2px 0;
  margin-right: 7px;
}
/* line 21, ../src/partials/_mixins.scss */
a.next-btn:hover {
  background: #dbebc2;
  color: #60842a;
  position: relative;
  top: 1px;
  left: 1px;
  -moz-box-shadow: #999999 0px 0px 1px 0;
  -webkit-box-shadow: #999999 0px 0px 1px 0;
  -o-box-shadow: #999999 0px 0px 1px 0;
  box-shadow: #999999 0px 0px 1px 0;
}

/*
form{
	fieldset{
		margin-bottom: 30px;
	}
	.legend{
		margin-bottom: 0;
		font-size: 24px;
		margin-bottom: 10px;
	}
	.checkbox{
		label{
			//position: relative;
			//top: 5px;
		}
	}
	.field-list{
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.text{
		input{
			padding: 5px;
			border: none;
			@include border-radius(5px);
			@include box-shadow(#999, 1px, 1px, 2px);
			border: darken(#f4f4f4,10%) solid 1px;
		}
	}
	.checkbox{
		.description{
			display: block;
			margin-top: 5px;
		}
	}
	.radio-buttons{
		list-style: none;
		margin: 0;
		padding: 0;
		li{
			padding: 5px 0;
		}
		&.inline{
			li,
			input,
			label{
				//display: inline;
			}
			label{
				//padding-right: 20px;
			}
		}
	}
	.field{
		padding: 5px 0;
		margin-bottom: 0;
	}
	.description{
		background: darken(#f4f4f4,5%);
		@include border-radius(5px);
		padding: 5px;
		display: inline-block;
		color: #999;
	}
	.error{
		background: red;
		margin-top: 5px;
		color: #fff;
	}
	.warning{
		background: lighten(yellow,40%);
		margin-top: 5px;
		color: darken(yellow,30%);
		margin-bottom: 10px;
	}
	.text{
		&.medium{
			label{
				float: left;
				width: 140px;
				position: relative;
				top: 5px;
			}
			input{
				width: 150px;
				float: left;
			}
			small{
				position: relative;
				top: 2px;
				float: right;
				width: 270px;
				margin-left: 10px;
			}
		}
		&.huge{
			label{
				display: none;
			}
			input{
				font-size: 24px;
				padding: 5px;
				margin-bottom: 5px;
				width: 586px;
			}
			small{
				display: block;
				//padding: 0 5px;
				font-size: 14px;
			}
		}
	}
}
*/
/* line 501, ../src/style.scss */
.gform_wrapper {
  margin-top: 20px;
}

/* line 504, ../src/style.scss */
.gform_fields {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 508, ../src/style.scss */
.gform_fields li {
  padding: 0;
  margin: 0;
}
/* line 512, ../src/style.scss */
.gform_fields ul, .gform_fields ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 517, ../src/style.scss */
.gform_fields .gfield {
  margin-bottom: 10px;
}
/* line 519, ../src/style.scss */
.gform_fields .gfield .gfield_label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
/* line 525, ../src/style.scss */
.gform_fields .gsection {
  margin-top: 20px;
  clear: both;
}
/* line 529, ../src/style.scss */
.gform_fields input {
  border: #CCC solid 1px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
}
/* line 534, ../src/style.scss */
.gform_fields .large {
  width: 618px;
  font-size: 24px;
}
/* line 539, ../src/style.scss */
.gform_fields li.small {
  clear: both;
}
/* line 541, ../src/style.scss */
.gform_fields li.small label {
  display: inline;
  float: left;
  width: 170px;
  line-height: 30px;
}
/* line 548, ../src/style.scss */
.gform_fields input.small {
  width: 100px;
}
/* line 551, ../src/style.scss */
.gform_fields .gfield_description {
  display: none;
  margin-top: 5px;
  font-size: 11px;
  background: #ddd;
  color: #999;
  padding: 5px;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  border-left: none;
  border-right: none;
}
/* line 565, ../src/style.scss */
.gform_fields label {
  margin-bottom: 5px;
}
/* line 569, ../src/style.scss */
.gform_fields .gfield_checkbox li {
  margin-bottom: 5px;
}
/* line 572, ../src/style.scss */
.gform_fields .gfield_checkbox label {
  padding-left: 5px;
}
/* line 576, ../src/style.scss */
.gform_fields .gfield_radio {
  margin-bottom: 20px;
}
/* line 578, ../src/style.scss */
.gform_fields .gfield_radio label {
  padding-left: 5px;
  padding-right: 20px;
}
/* line 582, ../src/style.scss */
.gform_fields .gfield_radio li {
  margin-bottom: 10px;
}

/* line 587, ../src/style.scss */
.gform_edit_link {
  display: none;
}

/* line 592, ../src/style.scss */
.gfield.inline .gfield_radio li {
  display: inline;
}

/* line 597, ../src/style.scss */
.gform_validation_container {
  display: none;
}

/* line 600, ../src/style.scss */
.gform_button {
  border: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  padding: 10px 20px;
  font-family: "Lobster 13", cursive;
  background: #c4df9b;
  color: #445d1e;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  -moz-box-shadow: #999999 2px 2px 2px 0;
  -webkit-box-shadow: #999999 2px 2px 2px 0;
  -o-box-shadow: #999999 2px 2px 2px 0;
  box-shadow: #999999 2px 2px 2px 0;
  margin-right: 7px;
  float: right;
}
/* line 21, ../src/partials/_mixins.scss */
.gform_button:hover {
  background: #dbebc2;
  color: #60842a;
  position: relative;
  top: 1px;
  left: 1px;
  -moz-box-shadow: #999999 0px 0px 1px 0;
  -webkit-box-shadow: #999999 0px 0px 1px 0;
  -o-box-shadow: #999999 0px 0px 1px 0;
  box-shadow: #999999 0px 0px 1px 0;
}

/* line 608, ../src/style.scss */
input.gform_previous_button {
  border: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  padding: 10px 20px;
  font-family: "Lobster 13", cursive;
  background: #c4df9b;
  color: #445d1e;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  -moz-box-shadow: #999999 2px 2px 2px 0;
  -webkit-box-shadow: #999999 2px 2px 2px 0;
  -o-box-shadow: #999999 2px 2px 2px 0;
  box-shadow: #999999 2px 2px 2px 0;
  margin-right: 7px;
}
/* line 21, ../src/partials/_mixins.scss */
input.gform_previous_button:hover {
  background: #dbebc2;
  color: #60842a;
  position: relative;
  top: 1px;
  left: 1px;
  -moz-box-shadow: #999999 0px 0px 1px 0;
  -webkit-box-shadow: #999999 0px 0px 1px 0;
  -o-box-shadow: #999999 0px 0px 1px 0;
  box-shadow: #999999 0px 0px 1px 0;
}

/* line 615, ../src/style.scss */
input.gform_next_button {
  border: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  padding: 10px 20px;
  font-family: "Lobster 13", cursive;
  background: #c4df9b;
  color: #445d1e;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  -moz-box-shadow: #999999 2px 2px 2px 0;
  -webkit-box-shadow: #999999 2px 2px 2px 0;
  -o-box-shadow: #999999 2px 2px 2px 0;
  box-shadow: #999999 2px 2px 2px 0;
  margin-right: 7px;
}
/* line 21, ../src/partials/_mixins.scss */
input.gform_next_button:hover {
  background: #dbebc2;
  color: #60842a;
  position: relative;
  top: 1px;
  left: 1px;
  -moz-box-shadow: #999999 0px 0px 1px 0;
  -webkit-box-shadow: #999999 0px 0px 1px 0;
  -o-box-shadow: #999999 0px 0px 1px 0;
  box-shadow: #999999 0px 0px 1px 0;
}

/* line 622, ../src/style.scss */
.gf_progressbar_wrapper {
  margin-bottom: 20px;
}

/* line 625, ../src/style.scss */
.gf_progressbar_title {
  text-shadow: #fff 1px 1px 0;
}

/* line 629, ../src/style.scss */
.gf_progressbar {
  background: #ddd;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
}

/* line 634, ../src/style.scss */
.gf_progressbar_percentage {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background: #ccc;
  color: #fff;
  padding: 10px 0;
}

/* line 640, ../src/style.scss */
.gform_page_footer {
  padding-top: 20px;
  overflow: hidden;
  *zoom: 1;
  padding-bottom: 10px;
}

/* line 646, ../src/style.scss */
.gform_previous_button {
  float: left;
}

/* line 649, ../src/style.scss */
.gform_next_button {
  float: right;
}

/* line 653, ../src/style.scss */
#create-sidebar {
  background: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 656, ../src/style.scss */
#create-sidebar .wrapper {
  padding: 20px;
}
/* line 659, ../src/style.scss */
#create-sidebar ol {
  font-size: 12px;
}
/* line 662, ../src/style.scss */
#create-sidebar li {
  margin-bottom: 0;
  background: #CCC;
}
/* line 666, ../src/style.scss */
#create-sidebar h4 {
  margin-top: 20px;
}
/* line 669, ../src/style.scss */
#create-sidebar .download {
  text-align: center;
  padding-top: 20px;
  border-top: #ddd solid 1px;
  margin-top: 20px;
}

/* line 678, ../src/style.scss */
.single-post,
.multiple-posts {
  display: inline;
  float: left;
  margin-right: 30px;
  width: 630px;
}
/* line 139, ../../../../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .single-post, * html
.multiple-posts {
  overflow-x: hidden;
}

/* line 682, ../src/style.scss */
.multiple-posts h1 {
  line-height: 1em;
}
/* line 685, ../src/style.scss */
.multiple-posts .post {
  display: inline;
  float: left;
  margin-right: 30px;
  width: 300px;
}
/* line 139, ../../../../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .multiple-posts .post {
  overflow-x: hidden;
}
/* line 687, ../src/style.scss */
.multiple-posts .post.even {
  display: inline;
  float: left;
  margin-right: 0;
  width: 300px;
}
/* line 139, ../../../../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .multiple-posts .post.even {
  overflow-x: hidden;
}

/* line 692, ../src/style.scss */
.sidebar {
  display: inline;
  float: left;
  margin-right: 0;
  width: 300px;
}
/* line 139, ../../../../../../.gem/ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .sidebar {
  overflow-x: hidden;
}
/* line 694, ../src/style.scss */
.sidebar #sidebar {
  background: #f4f4f4;
  border: #e7e7e7 solid 1px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
/* line 699, ../src/style.scss */
.sidebar ul, .sidebar ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 704, ../src/style.scss */
.sidebar .widget {
  padding: 10px 20px;
  border-bottom: #e7e7e7 solid 1px;
}
/* line 707, ../src/style.scss */
.sidebar .widget li {
  margin-bottom: 0.8em;
}
/* line 711, ../src/style.scss */
.sidebar .widgettitle {
  font-size: 24px;
}

/* line 715, ../src/style.scss */
.comments {
  border-top: #CCC dashed 1px;
  padding: 20px 0;
  margin-top: 20px;
}
/* line 719, ../src/style.scss */
.comments .form-allowed-tags {
  padding-left: 140px;
  font-size: 0.8em;
}

/* line 724, ../src/style.scss */
#reply-title {
  font-size: 36px;
  line-height: 1em;
}

/* line 728, ../src/style.scss */
.comment-notes {
  font-size: 0.8em;
  color: #666;
  visibility: hidden;
}

/* line 736, ../src/style.scss */
.comment-form-author,
.comment-form-email,
.comment-form-url,
.comment-form-comment {
  clear: both;
  overflow: hidden;
  *zoom: 1;
  padding: 3px 0;
}
/* line 740, ../src/style.scss */
.comment-form-author label,
.comment-form-email label,
.comment-form-url label,
.comment-form-comment label {
  float: left;
  width: 130px;
  font-family: "Coolvetica", "Verdana", "Lucida Grande", "Arial", "Gill Sans", "Helvetica", sans-serif;
  font-size: 24px;
  padding-right: 10px;
  text-align: right;
}
/* line 749, ../src/style.scss */
.comment-form-author input,
.comment-form-author textarea,
.comment-form-email input,
.comment-form-email textarea,
.comment-form-url input,
.comment-form-url textarea,
.comment-form-comment input,
.comment-form-comment textarea {
  width: 470px;
  border: #CCC solid 1px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: black 1px 1px 2px 0;
  -webkit-box-shadow: black 1px 1px 2px 0;
  -o-box-shadow: black 1px 1px 2px 0;
  box-shadow: black 1px 1px 2px 0;
  padding: 5px;
}
/* line 756, ../src/style.scss */
.comment-form-author .required,
.comment-form-email .required,
.comment-form-url .required,
.comment-form-comment .required {
  display: none;
}

/* line 760, ../src/style.scss */
.form-submit {
  text-align: right;
}

/* line 763, ../src/style.scss */
#submit {
  border: none;
  display: inline-block;
  padding: 10px 20px;
  font-family: "Lobster 13", cursive;
  background: #c4df9b;
  color: #445d1e;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  -moz-box-shadow: #999999 2px 2px 2px 0;
  -webkit-box-shadow: #999999 2px 2px 2px 0;
  -o-box-shadow: #999999 2px 2px 2px 0;
  box-shadow: #999999 2px 2px 2px 0;
}
/* line 21, ../src/partials/_mixins.scss */
#submit:hover {
  background: #dbebc2;
  color: #60842a;
  position: relative;
  top: 1px;
  left: 1px;
  -moz-box-shadow: #999999 0px 0px 1px 0;
  -webkit-box-shadow: #999999 0px 0px 1px 0;
  -o-box-shadow: #999999 0px 0px 1px 0;
  box-shadow: #999999 0px 0px 1px 0;
}

/* line 767, ../src/style.scss */
.commentlist {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 771, ../src/style.scss */
.commentlist li {
  padding: 20px;
  border: #e7e7e7 solid 1px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background: #f4f4f4;
  position: relative;
}
/* line 778, ../src/style.scss */
.commentlist .comment-body {
  position: relative;
  padding-left: 100px;
  min-height: 80px;
}
/* line 783, ../src/style.scss */
.commentlist .avatar {
  position: absolute;
  left: 0;
  top: 0;
}
/* line 788, ../src/style.scss */
.commentlist .comment-author {
  margin-bottom: 5px;
}
/* line 791, ../src/style.scss */
.commentlist .fn {
  font-size: 24px;
  font-style: normal;
}
/* line 795, ../src/style.scss */
.commentlist .comment-meta {
  font-size: 12px;
  margin-bottom: 5px;
}
/* line 799, ../src/style.scss */
.commentlist .reply {
  font-size: 12px;
}
/* line 802, ../src/style.scss */
.commentlist .children {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

/* line 809, ../src/style.scss */
#cancel-comment-reply-link {
  font-size: 12px;
  font-family: "Droid Serif", "Georgia", "Times New Roman", "Palatino", "Hoefler Text", "Baskerville", serif;
  letter-spacing: 0;
}

/* line 814, ../src/style.scss */
.help-content {
  display: none;
  background: #f4f4f4;
  border: #fae88e solid 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  background: #faf7aa;
  color: #bc9c61;
  margin-right: 20px;
}

@media all and (orientation:portrait) {}
@media all and (orientation:landscape) {}
@media screen and (max-device-width: 480px) {
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

@media print {
  /* line 843, ../src/style.scss */
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none !important;
  }

  /* line 844, ../src/style.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 845, ../src/style.scss */
  a:after {
    content: " (" attr(href) ")";
  }

  /* line 846, ../src/style.scss */
  abbr:after {
    content: " (" attr(title) ")";
  }

  /* line 847, ../src/style.scss */
  .ir a:after {
    content: "";
  }

  /* line 848, ../src/style.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 849, ../src/style.scss */
  thead {
    display: table-header-group;
  }

  /* line 850, ../src/style.scss */
  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  /* line 852, ../src/style.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 853, ../src/style.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
